:root {
    --bro-gray-text: #acacac;
    --bulma-family-primary: Noto Sans, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    --bulma-family-secondary: Noto Sans, Inter, SF Pro, Segoe UI, Roboto, Oxygen, Ubuntu, Helvetica Neue, Helvetica, Arial, sans-serif;
    --bulma-family-code: Inconsolata, Hack, SF Mono, Roboto Mono, Source Code Pro, Ubuntu Mono, monospace;
    --bulma-primary-h: 187deg;
    --bulma-primary-s: 14.7%;
    --bulma-primary-l: 55.9%;
    --bulma-primary-invert-h: 180;
    --bulma-primary-invert-s:  55%;
    --bulma-primary-invert-l: 100%;
    --max-mobile: 768px;
    --max-tablet: 1023px;
    --max-desktop: 1215px;
    --max-widescreen: 1407px;
    --max-full-hd: 1408px;
    --bro-mobile-container-padding: 0rem 1rem
}

.navbar {
    --bulma-navbar-background-color: #232323;
    --bulma-navbar-padding-horizontal: 4rem;
    --bulma-navbar-padding-vertical: 0.5rem;
    padding: 0.5rem 4rem;
}

.navbar .navbar-brand .navbar-item {
    font-size: 1.25rem;
    font-weight: bolder;
    text-transform: uppercase;
}

.navbar .navbar-brand a.navbar-item {
    color: #ffffff;
    --bulma-link-text: #f3f4f6;
}

.navbar a.navbar-item {
    color: #ffffff;
    --bulma-link-text: #f3f4f6;
}

.navbar a.navbar-item:hover {
    font-weight: bold;
    background: transparent;
    --bulma-link-text: #f3f4f6;
    transition: 0.2s;
}

.navbar-burger {
    color: white;
}

.navbar-burger:hover {
    background: rgba(255, 255, 255, 0.2);
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
    z-index: 1;
}

.hero-body {
    z-index: 2;
}

.hero {
    position: relative;
    background-position: center;
    background-size: cover;
}

.hero-bg {
    background: linear-gradient(rgb(85, 131, 128) 0%, rgb(141, 238, 230) 100%);
}

.hero .title {
    color: #ffffff;
    font-weight: normal;
    font-size: 3.5rem;
    padding: 0;
}
.hero .subtitle {
    margin-top: 0.5rem;
    color: #ffffff;
    font-weight: normal;
}

footer.footer {
    --bulma-footer-background-color: #232323;
    --bulma-footer-padding: 2rem;
    color: var(--bro-gray-text);
}

.button {
    font-weight: bold;
}

.is-flex {
    display: flex;
}

.is-flex-column {
    display: flex;
    flex-direction: column;
}

.flex-justify-end {
    justify-content: end;
}

.flex-justify-center {
    justify-content: center;
}

.input, .textarea {
    --bulma-input-focus-h: 180;
    --bulma-input-focus-s: 50%;
    --bulma-input-focus-l: 40%;
}

.intro .title {
    font-weight: bold;
    font-size: 3rem;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.mt-5 {
    margin-top: 3rem;
}

.section {
    --bulma-section-padding: 1.5rem;
    --bulma-section-padding-desktop: 1.5rem 3rem;
}
.section.minimum_full{
    min-height: 90vh;
}

.text-align-center {
    text-align: center;
}

.app-icon img {
    border-radius: 20px;
}

.app-icon img {
    width: 128px;
    height: 128px;
}

.breadcrumb a {
    --bulma-breadcrumb-item-color: black
}

.breadcrumb {
    --bulma-breadcrumb-item-hover-color: var(--bulma-primary);
    --bulma-breadcrumb-item-active-color: var(--bulma-primary-dark);
}

.breadcrumb li.is-active {
    font-weight: bold;
}

.post-link {
    margin-bottom: 2rem;
}

.post-link a:hover {
    text-decoration-line: underline;

}

@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem 0;
    }

    .app-icon img {
        border-radius: 10px;
    }

    .app-icon img {
        width: 64px;
        height: 64px;
    }

}
