<!doctype html>
<html lang="en-US" xmlns="http://www.w3.org/1999/html">
{{ partial "head" (dict "page" .Page) }}
<body>
{{ partial "nav" (dict "site" .Site) }}

{{ $image := (.Param "image") }}
{{ $portfolio := (.Param "portfolio") }}

<section id="hero"
    {{ if $image }}
        class="hero is-medium"
        style="background-color: #090a0c; background-image: url('{{ $image }}')"
    {{ else }}
        class="hero is-medium hero-bg"
    {{ end }}
>
    <div class="hero-body">
        <div class="container is-max-widescreen">
            <h1 class="title"> {{ .Title }}</h1>
            <p class="subtitle"> {{ .Description }}</p>
        </div>
    </div>
</section>

<section id="content" class="section">
    {{ if .Content }}
    <div class="container is-max-widescreen">
        <div class="content">{{ .Content }}</div>
    </div>
    {{ end }}

    <div class="container is-max-widescreen">
        {{ range .Pages }}
            {{ if $portfolio}}
                <div class="card">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-left">
                                <figure class="image app-icon">
                                    <img src="{{ .Param "appIcon" }}" alt="{{ .Title }} icon"/>
                                </figure>
                            </div>
                            <div class="media-content">
                                <h3 class="title is-4" style="margin-bottom: 0.25rem">{{ .Title }}</h3>
                                <p style="margin-bottom: 0.25rem">{{ .Description }}</p>
                                <div style="margin-bottom: 0.5rem">
                                    {{ range .Param "tags" }}
                                    <span class="tag is-light">{{ . }}</span>
                                    {{ end }}
                                </div>
                                <a class="button" href="{{ .Permalink }}">Read More</a>
                            </div>
                        </div>
                    </div>

                </div>
            {{ else }}
                <div class="post-link">
                    <a class="title is-4" style="margin-bottom: 0.5rem" href="{{ .Permalink }}">{{ .Title }}</a>
                    <p style="margin-bottom: 0.5rem">{{ .Description }}</p>
                    <div style="margin-bottom: 0.5rem">
                        {{ range .Param "tags" }}
                        <span class="tag is-light">{{ . }}</span>
                        {{ end }}
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</section>
</body>
{{ partial "footer" (dict "site" .Site) }}
</html>