<!doctype html>
<html lang="en-US">
{{ partial "head" (dict "page" .Page) }}
<body>
{{ partial "nav" (dict "site" .Site) }}

<section id="content" class="minimum_full">
    <div class="container">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                {{ range .Ancestors.Reverse }}
                <li><a href="{{ .RelPermalink }}"> {{ .LinkTitle}}</a></li>
                {{ end }}
                <li class="is-active"><a href="." aria-current="page">{{ .Title }}</a></li>
            </ul>
        </nav>
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</section>
{{ partial "footer" (dict "site" .Site) }}

</body>
</html>
