<!doctype html>
<html lang="en-US">
{{ partial "head" }}

<body>
{{ partial "nav" (dict "site" .Site) }}
<div class="section minimum_full is-flex is-flex-column flex-justify-center">
    <div class="columns is-centered">
        <div class="column text-align-center is-4">
            <div class="figure image">
                <img src="/img/404.svg">
            </div>
            <h1 class="title">Sorry, this page does not exist</h1>
            <p>Please check if you entered URL correctly</p>
        </div>
    </div>
</div>
{{ partial "footer" (dict "site" .Site) }}
</body>
</html>
