<!doctype html>
<html lang="en-US">
{{ partial "head" (dict "page" .Page) }}

<body>
{{ partial "nav" (dict "site" .Site) }}

<section id="home-intro" class="section intro">
    <div class="container is-max-widescreen">
        <div class="columns">
            <div class="column is-half is-flex is-flex-column flex-justify-center">
                <h1 class="title">{{ .Param "description" }}</h1>
                <p>{{ .Param "hero_text" }}</p>
                {{ if (.Param "hero_button_label") }}
                <div class="block"><a class="button is-primary mt-5" href="{{ .Param "hero_button_url" }}">{{ .Param "hero_button_label" }}</a></div>
                {{ end }}
            </div>
            <div class="column is-half">
                <figure class="image">
                    <img src="{{ .Param "hero_image" }}" alt="Placeholder image">
                </figure>
            </div>
        </div>
    </div>
</section>

{{ if .Content }}
<section id="home-content" style="background-color: #f1f1f1" class="section">
    <div class="container is-max-widescreen">
        <div class="column is-two-thirds">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ if .Param "features_title" }}
<section id="home-features" class="section my-5">
    <div class="container is-max-widescreen">
        <div class="content text-align-center">
            <h2>{{ .Param "features_title" }}</h2>
            <p>{{ .Param "features_subtitle" }}</p>
            <div class="columns">
                {{ range .Param "features" }}
                <div class="column is-one-third">
                    <figure class="image is-4by3">
                        <img src="{{ .image }}" alt="{{ .title }}"/>
                    </figure>
                    <div class="content">
                        <h3>{{ .title }}</h3>
                        <p> {{ .description }}</p>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}

{{ partial "footer" (dict "site" .Site) }}

</body>

